@model LibraryManager.Models.UserAccounts

<h2 class="mb-4">Edit Role for <strong>@Model.Username</strong></h2>

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
        Select Role
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        @foreach (var role in ViewBag.Roles as List<LibraryManager.Models.Roles>)
        {
            <li>
                <a class="dropdown-item" asp-area="Admin" asp-controller="UserManagement" asp-action="ChangeRole" asp-route-userId="@Model.Id" asp-route-roleId="@role.Id">
                    @role.RoleName
                </a>

            </li>
        }
    </ul>
</div>

<a asp-action="Index" class="btn btn-secondary mt-3">Back</a>
