@{
    ViewData["Title"] = "Chi tiết Thuê Sách";
}

<h2>Chi tiết Thuê Sách</h2>

<p>User Account ID: @ViewBag.UserAccountId</p>
<p>Book ID: @ViewBag.ISBN</p>
<p>@ViewBag.Message</p>

<a href="/Home/Index" class="btn btn-primary">Về trang chủ</a>
