@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Error";
}
<main>
        <!-- Banner area start here -->
        <section class="banner-inner-area sub-bg bg-image" data-background="/assets/images/bg/banner-inner-bg.png">
            <div class="banner-inner__shape1">
                <img class="animation__sunMove" src="~/assets/images/shape/banner-inner-shape1.png" alt="image">
            </div>
            <div class="banner-inner__shape2">
                <img src="~/assets/images/shape/banner-inner-shape2.png" alt="image">
            </div>
            <div class="banner-inner__shape3">
                <img class="animation__arryLeftRight" src="~/assets/images/shape/banner-inner-shape3.png" alt="image">
            </div>
            <div class="banner-inner__shape4">
                <img class="animation__arryUpDown" src="~/assets/images/shape/banner-inner-shape4.png" alt="image">
            </div>
            <div class="banner-inner__shape5">
                <img src="~/assets/images/shape/banner-inner-shape5.png" alt="image">
            </div>
            <div class="banner-inner__circle">
                <img class="slide-effect1" src="~/assets/images/shape/banner-inner-circle.png" alt="image">
            </div>
            <div class="banner-inner__circle2">
                <img class="slide-effect2" src="~/assets/images/shape/banner-inner-circle2.png" alt="image">
            </div>
            <div class="banner-inner__dots">
                <img class="pxl-image-zoom" src="~/assets/images/shape/banner-inner-dots.png" alt="image">
            </div>
            <div class="container">
                <div class="banner-inner__content">
                    <h1>
                        Có vẻ bạn đang gặp sự cố!
                    </h1>
                    <ul>
                        <li><a href="index.html">Trang chủ</a></li>
                        <li><i class="fa-regular fa-angle-right"></i></li>
                        <li>Lỗi</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- Banner area end here -->

        <!-- Error area start here -->
        <section class="error-area pt-120 pb-120">
            <div class="container">
                <div class="error__image image">
                    <img src="~/assets/images/error/error-image.png" alt="image">
                </div>
                <div class="error__content text-center">
                    <h2><span>Oops!</span> Có vẻ bạn đang gặp sự cố</h2>
                    <p>Chúng tôi sẽ cố gắng khắc phuc sớm nhất!</p>
                    <a href="/Home/Index" class="btn-one mt-60">Về trang chủ<i
                            class="fa-light fa-arrow-right-long"></i></a>
                </div>
            </div>
        </section>
        <!-- Error area end here -->
    </main>